<div id="top-banner" fxLayout="row wrap">
    <div fxFlex="66%" fxLayoutAlign="stretch" fxFlex.md="50%" fxFlex.sm="50%" fxFlex.xs="100%">
        <div style="width: 100%; min-height: 200px;">
            <h1 style="text-align: center;width: 100%;font-size: xxx-large;">Hi. I'm Daniel Brenot</h1>
            <br>
            <div style="text-align: center;width: 100%;">
                I went into school swearing I would never make websites for a living.<br>
                I came out a seasoned Fullstack Software Developer.<br>
                Whoops...<br><br>
                <a href="mailto:daniel.alexander.brenot@gmail.com"><img src="/assets/icon/email.svg" class="icons"></a>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <a href="https://github.com/daniel-brenot"><img src="/assets/icon/github.svg" class="icons"></a>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <a href="https://www.linkedin.com/in/daniel-brenot-8624a6102/"><img src="/assets/icon/linkedin.svg" class="icons"></a>
                <br><br>
                <a download href="/assets/documents/Daniel Brenot Resume - 2022.pdf"><button mat-raised-button color="primary">Download My Resume&nbsp; <mat-icon>cloud_download</mat-icon></button></a>
            </div>
        </div>
        
    </div>
    <div fxFlex="33%" fxLayoutAlign="stretch" fxFlex.md="50" fxFlex.sm="50%" fxFlex.xs="100%">
        <img src="https://avatars.githubusercontent.com/u/18020640?v=4" id="profile">
    </div>
    
</div>


<mat-divider></mat-divider>

<br>

<h1>Here's what I can do for you.</h1>
<h2>And what I enjoy doing.</h2>

<div fxLayout="row wrap" fxLayoutGap="16px grid">
    <div fxFlex="25%" fxLayoutAlign="stretch" fxFlex.xs="100%" fxFlex.sm="50%" *ngFor="let highlight of highlights">
        <mat-card class="mat-elevation-z4">
            <mat-card-header>
                <mat-card-title>{{highlight.title}}</mat-card-title>
                <mat-card-subtitle>{{highlight.subtitle}}</mat-card-subtitle>
            </mat-card-header>
            <div class="card-divider"></div>
            <!-- <img mat-card-image src="/assets/images/highlights/{{highlight.title}}.png"> -->
            <mat-card-content>
                {{highlight.description}}
            </mat-card-content>
        </mat-card>
    </div>
</div>
