#profile {
    border-radius: 50%;
    width: 100%;
}

@media only screen and (min-width: 600px) {
    #profile {
        margin-right: 30px;
    }
}

@media only screen and (max-width: 600px) {
    #profile {
        margin: 30px;
    }
}

#top-banner {
    margin-top: 50px;
    margin-bottom: 75px;
}

#top-banner h1 {
    font-family: 'Open Sans', sans-serif;
    line-height: 50px;
}

.icons {
    width: 50px;
}

mat-card {
    text-align: center;
}

.card-divider {
    width: 40%;
    height: 7px;
    margin: 15px auto;
    margin-top: 8px;
    background-color: #1b5e20;
}