<mat-toolbar class="app-toolbar" color="primary">
    <mat-toolbar-row class="mat-elevation-z6">
        <div style="margin: auto">
            <button routerLink="" mat-button>Overview</button>
            <button routerLink="skills" mat-button>Skills</button>
            <button routerLink="portfolio" mat-button>Portfolio</button>
            <button routerLink="work" mat-button>Work Experience</button>
        </div>
    </mat-toolbar-row>
    
</mat-toolbar>
<div id="scroll-view">
    <div class="content">
        <ng-content></ng-content>
    </div>
    <app-footer></app-footer>
</div>
